/* Variables css*/
:root{
    /* Colors */
    /* Color mode HSL(hue, saturation, lightness)*/
    /*
        blue    :   hsl(224, 69%, 14%)
        red     :   hsl(0, 100%, 43%)
        gray    :   hsl(0, 0%, 98%)
        green   :   hsl(100, 83%, 41%)
        yellow  :   HSL(52, 100%, 50%)
    */

    --hue: 178;
    --sat: 100%;
    --lig: 24%;

    --brand-color1: hsl(var(--hue), var(--sat), var(--lig)) ;
    --brand-color2: hsl(var(--hue), var(--sat), 34%);
    --brand-color-alt: hsl(var(--hue), var(--sat), 44%);
    --brand-color-alt2: hsl(var(--hue), var(--sat), 87%);
    --title-color: hsl(212, 95%, 7%);
    --text-color: hsl(212, 21%, 33%);
    --bg-gradient: linear-gradient(180deg, rgba(188, 255, 253, 0) 38.54%, #BCFFFD 100%);
    --container-color: hsl(0, 0%, 100%);
    --attention-yellow: hsl(56, 100%, 50%);
    --attention-red: hsl(14, 100%, 50%);
    --attention-green: hsl(128, 52%, 47%);

    /* Font and typography */
    /* .5rem = 8px / 1rem = 16px */
    --body-font: 'Inter', sans-serif;
    --header: 5.6rem;
    --title: 3.8rem;
    --subtitle: 2.4rem;
    --body-text: 2.1rem;
    --details: 1.8rem;
    --smallest: 1.6rem;

    /* Title center*/

}

/* Responsive typography */
@media only screen and (orientation: portrait)  {
    :root {
        --header: 3.8rem;
        --title: 2.8rem;
        --subtitle: 2.0rem;
        --body-text: 1.6rem;
        --details: 1.4rem;
        --smallest: 1.2rem; 
    
    }
}
*,
*::after,
*::before{
    list-style:none;
    text-decoration:none;
    margin:0;
    padding:0;
    text-align:left;
    border:0;
    outline-color:#ccc;
    color: var(--text-color);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family: var(--body-font);
    font-size: 62.5%;
    font-display: swap;
}
html{
    scroll-behavior: smooth;
    direction: ltr;
    /*font-size: clamp(1rem, 1vw, 1.2rem);*/
}
body{
    
    counter-reset: num;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: var(--header);
    color: var(--title-color);
}
h2{
    font-size: var(--title);
    margin-top: .8rem;
    line-height: 160%;
    color: var(--title-color);
}
h3{
    font-size: var(--subtitle);
    margin-top: 1rem;
    line-height: 180%;
    color: var(--title-color);
}
p{ 
    font-size: var(--body-text);
    font-family: inherit;
    line-height: 160%;
}
li{
    font-size: inherit;
}
a{
    font-size: inherit;
}
button {
    width: 24rem;
    height: 7.2rem;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    padding: 0 2rem;
    color: #FFFFFF;
    border-radius: 0.8rem;
    font-size: var(--body-text);
    font-weight: 600;
    text-align: center;
    background-color: var(--brand-color1);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1.25rem 40px -11px var(--brand-color2);
}
button:hover {
    background-color: var(--title-color);
    box-shadow: 0px 1.25rem 40px -11px var(--brand-color-alt);
    color: #ffffff;
}
section{
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;

}
header{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}
.icon {
    display: inline-block;
    width: 4.0rem;
    height: 4.0rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-logotipo {
    width: 20.3rem;
}
.color-destak{
    font-size: inherit;
    color: var(--brand-color1);
}

.container{
    display: grid;
    width: min(100% - 10%, 1216px);
    margin-inline: auto;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.text-center{
    text-align: center;
}
.card{
    padding: 1rem 2rem;
    border-radius: .6rem;
}
.grid{
    display: grid;
}
header nav .container{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
header nav .container .top__logo{
    width: 100%;
}
header nav .container .menu{
    display: flex;
    width: 100%;
    justify-content: end;
}
header nav .container ul li{
    font-size: var(--body-text);
    display: inline-block;
    margin-right: .8rem;
}
header nav .container ul li a{
    color: var(--title-color);
    font-weight: 500;
}
.s-banner{
    overflow: hidden;
    background: var(--bg-gradient);
}
.s-banner .container{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.s-banner .container .banner-info{
    display: grid;
    width: 100%;
    height: 100%;
    
}
.s-banner .container .banner-image{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    position: relative;
    bottom: -20%;
}
.s-banner .container .banner-image img{
    max-height: 601px;
    object-fit: contain;
}

.s-especialidades .container .content_especialidades{
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 4rem;
}
